:root {
    --primery-color: red;
    --secundery-color: green;

}

header {
    display: flex;
    justify-content: center;
    background-color: var(--primery-color);

}

body {
    background-color: darkgray;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

nav {
    display: inline-block;
    justify-content: center;
    list-style: none;
    padding: 0px, 20px;
    font-family: "Notable";
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 100px auto;
    padding: 100px 100px;
}

footer {
    background-color: var(--secundery-color);
    margin-top: auto;
}

.result-container {
    display: flex;
    overflow-x: auto;
    gap: 20px;
    padding: 20px;
}

.result-item {
    flex: 0 0 auto;
    width: 10%;
    padding: 10px;
    border: 1px solid var(--primery-color);

}
